@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}


:root {
    --color01: #c5ebd6;
    --color02: #83e1ad;
    --color03: #3ddc84;
    --color04:  #2fa866;
    --color05: #1a5c37;
    --color06: #063d1e;
    --color003: #2da061;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: Android
}
body {
    background-color: var(--color01);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--color003), var(--color06));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.74);
    margin: auto;
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.74);
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(19, 18, 18, 0.596);
    margin: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    margin: auto;
}

main p {
    text-align: justify;
    margin: 15px 0px;
    line-height: 2em;
    text-indent: 1.1em;
}

main strong {
    color: #268650;
}

main a {
    background-color: #13723c;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

main a:hover{
    background-color: white;
    color: #13723c;
    transition-duration: 0.6s;
    text-decoration: underline;
}

main abbr {
    text-decoration: none;
}

nav{
    background-color: var(--color05);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.404);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav > a:hover {
    background-color: #063d1e;
    transition-duration: 0.5s;
}


main h1 {
    font-family: var(--fonte-android);
    color: var(--color05);
}
main h2 {
    font-family: var(--fonte-android);
    font-size: 1.2em;
}

main img {
    width: 100%;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--color06);
    color: lightgray;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer p > a {
    background-color: #063d1e;
    text-decoration: none;
    color: white;
}

footer a:hover {
    background-color: #015224;
    color: rgb(5, 78, 238);
    text-decoration: underline;
}

footer abbr{
    text-decoration: none;
}


aside{
    background-color: var(--color03);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.274);

}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2705\00A0\00A0';
    columns: 2;
}

aside > p > a:hover{
    background-color: var(--color03);
}

aside > h3 {
    background-color: #015224;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius:10px 10px 0px 0px;
}

a.externo::after{
    content: "\1F517";
}

div.video{
    background-color: rgb(7, 56, 7);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 5px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}